<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>

<!--booking-->
<section id="confirmation">
    <div class="sche">
        <div class="Booking">
            <div class="cont">
                <div class="left-section">
                    <h1>Booking <span class="highlight">Successful</span></h1>
                    <p class="subtitle">Your booking has been completed!</p>
                </div>
                <div class="right-section">
                    <p th:text="${message}" style="text-align: center; margin-bottom: 20px; color: green; font-size: 18px;">Booking Successfully Completed!</p>
                    <a th:href="@{/}" class="proceed-btn" style="background-color: #2a61d7;">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>